__pycache__/
*.pyc
loop_engineering.db
reports/
observatory_reports/
observatory_trend_reports/
observatory_failure_reports/
observatory_remediation_reports/
observatory_action_reports/
observatory_action_review_reports/
observatory_action_handoff_review_reports/
observatory_stage4_audit_reports/
loop_improvement_reports/
loop_improvement_review_reports/
loop_improvement_action_reports/
loop_improvement_handoff_packets/
loop_improvement_handoff_review_reports/
loop_improvement_stage5_audit_reports/
loop_improvement_application_plan_reports/
loop_improvement_patch_proposal_reports/
loop_improvement_patch_dry_run_reports/
loop_improvement_patch_approval_reports/
loop_improvement_patch_application_reports/
loop_improvement_rollback_snapshot_reports/
post_apply_verification_reports/
improvement_outcome_reports/
self_improvement_audit_reports/
loop_improvement_stage6_audit_reports/
external_agent_handoffs/
external_agent_jobs/
external_batch_reports/
multi_project_observatory_reports/
cross_project_handoff_packets/
multi_project_audit_reports/
multi_project_stage7_audit_reports/
governance_policy_evaluation_reports/
fleet_governance_reports/
governance_trend_reports/
governance_evidence_exports/
multi_project_governance_audit_reports/
multi_project_stage8_audit_reports/
cross_project_execution_readiness_reports/
cross_project_execution_handoff_packets/
cross_project_execution_audit_reports/
cross_project_stage9_audit_reports/
cross_project_execution_snapshot_reports/
cross_project_execution_runtime_reports/
cross_project_stage10_audit_reports/
cross_project_orchestration_reports/
cross_project_orchestration_audit_reports/
cross_project_stage11_audit_reports/
